// app global css in SCSS form
body.body--dark {
  background: $background;
  color: $background-light;
  font-family: 'PlusJakartaSans';

  .q-header {
    background: $background;
  }
  .q-footer {
    background: $background;
    color: $background-light;
  }
  .router-link-exact-active:not(.fixed-color) {
    color: $primary !important;
  }
  .navigation-link {
    color: $background-light;
    text-decoration: none;
  }
  .q-card {
    background: $background-card;
    color: $background-light;
  }

  .highlighted {
    background: $highlight-dark;
  }

  .light-card {
    background: $dark-level-2;
  }

  .q-chip {
    background: $highlight-dark;
    border-radius: 99px;
  }

  .q-chip-burn-bg {
    background: $burn-background;
    color: $background-light;
  }

  .square-background {
    background: $dark-level-2;
    padding: 10px;
  }

  .light-logo {
    display: none;
  }

  .text-search-banner-icon {
    color: $background-light !important;
  }
  .bg-search-banner-icon {
    background: $background !important;
  }

  .text-search-banner-input {
    color: $background-light !important;
  }
  .bg-search-banner-input {
    background: $dark-level-1 !important;
  }

  .text-link {
    color: $accent !important;
    text-decoration: none;
  }
}

body.body--light {
  background: $background-light;
  color: $background;
  font-family: 'PlusJakartaSans';
  .q-header {
    background: $background-light;
  }
  .q-footer {
    background: $background-light;
    color: $background;
  }
  .router-link-exact-active:not(.fixed-color) {
    color: $primary !important;
  }
  .navigation-link {
    color: $background;
    text-decoration: none;
  }
  .q-card {
    background: $light-level-1;
    color: $background;
  }
  .light-card {
    background: $light-level-2;
  }
  .q-chip {
    background: $light-level-2;
    border-radius: 99px;
  }

  .q-chip-burn-bg {
    background: $burn-background;
    color: $background-card;
  }

  .square-background {
    background: $light-level-2;
    padding: 10px;
  }

  .dark-logo {
    display: none;
  }

  .highlighted {
    background: $highlight-light;
  }

  .text-search-banner-icon {
    color: $dark-level-2 !important;
  }
  .bg-search-banner-icon {
    background: $light-level-1 !important;
  }

  .text-search-banner-input {
    color: $dark-level-2 !important;
  }

  .bg-search-banner-input {
    background: $background-light !important;
  }

  .text-link {
    color: darken($accent, 20%) !important;;
    text-decoration: none;
  }
}

.monospace {
  font-family: 'Hack';
}

.network-active-color {
  color: #30e8bf;
}

.primary-clickable {
  background-color: $primary;
}

.large-chip {
  // min-width: 120px;

  width: 95%;

  overflow: clip;
  white-space: nowrap;
}

.grey-color {
  opacity: 60%;
}

.overflow-handle {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sticky-headers {
  /* height or max-height is important */
  height: 80vh;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: $background;
    position: sticky;
    z-index: 1;
  }
  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
  thead tr:first-child th {
    top: 0;
  }
}
